@charset "utf-8";
*{padding: 0;margin: 0;}
ul,ol,li{list-style: none;}
.box{width: 100%;height: 977px;}
.top{width:1200px;  height: 100px;margin-left: auto;margin-right: auto;}
.top .logo{width: 172px;height: 61px;padding-top: 30px;padding-left: 50px;float: left;}
.top .wz{padding-top: 50px;padding-left:20px;float: left;}
.top .rx{float: right;padding-top: 40px;padding-right: 80px;}
nav{background-color: brown;width: 1142px;;height: 40px;padding-left: 120px;margin-left: auto;margin-right: auto;}
nav .nav{display: block;float: left; width:120px;height: 40px;font-size: 18px;line-height: 40px;color:#fff;text-decoration: none;}
nav .nav:hover{color: chocolate;font-size: 20px;}
.banner img{width: 100%;height: 423px;}
.tj{width: 80px;padding-top: 15px;padding-left: 88px;color: chocolate;}
.nr{width:1180px; padding-left: 70px;float: left;padding-top: 20px;margin-left: auto;margin-right: auto;}
.nr2{width:1180px;padding-left: 70px;float: left;padding-top: 20px;margin-left: auto;margin-right: auto;}
.nr ul{width:255px;height: 153px;float: left;margin-left: 20px;}
.nr2 ul{width:255px;height: 153px;float: left;margin-left: 20px;}
.nr .cbl{width:255px;height: 153px;float: left;margin-left: 20px;}
.nr2 .cbl{width:255px;height: 153px;float: left;margin-left: 20px;}
.nr ul .bt{background-color: #eee; height: 40px;text-align: center;line-height: 40px;}
.nr2 ul .bt{background-color: #eee; height: 40px;text-align: center;line-height: 40px;}
.nr .cbl .bt{background-color:brown; height: 40px;text-align: left;line-height: 40px;padding-left:8px;color: #fff;}
.nr2 .cbl .bt{background-color:brown; height: 40px;text-align: left;line-height: 40px;padding-left:8px;color: #fff;}
.nr .cbl li a{display: block;height: 40px;text-decoration: none;line-height: 40px;padding-left: 8px;border-bottom: 2px dashed #eee;}
.nr2 .cbl li img{float: left;padding-top: 20px;margin-left: 30px;}
.bottom{width: 100%;margin-left: auto;margin-right: auto;}
.bottom .s{width: 100%;height: 100px;background-color: #eee;}
.bottom .s ul{padding-left: 60px;padding-top: 20px;}
.bottom .s li{float: left;padding-left: 10px; font-size: 14px;}
.bottom .x img{width: 80%;}
