@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,input,img{padding:0; margin:0;}   
div,ul,li{
	list-style: none;
	color: #ccccccc;
}
.body{
    margin: 0px;
    padding: 0px;
}
.tb .tb1{
    width: 1100px;
    height: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.tb .tb1 .tb-logo{
    float: left;
    padding-top: 21px;
}
.tb .tb1 .tb-logo1{
    width: 500px;
    float: left;
    padding-left: 127px;
    padding-top: 44px;
}
.tb .tb1 .tb-logo2{
    float: right;
    padding-top: 32px;
}
.dh{
    margin-left: auto;
    margin-right: auto;
    background-color:  #A90B00;
}
.dh .dh1{
    width: 1100px;  
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.dh .dh1 ul li{
    width: 135px;
    background-color: #A90B00;
    float: left;
    line-height: 50px;
    text-align: center;
    color: aliceblue;
    border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
    border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}

.banner img{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.bt{
    width: 1307px;
    height: 50px;
    margin: auto;
    line-height: 30px; 
}
.nr{
    width: 1100px;
    height: 417px;
    margin: auto;
    padding: auto;
}
.nr .zuo{
    width: 820px;
    height: 388px;
    float: left;
}
.nr .zd{
    height: 50px;
    line-height: 75px;
    color: maroon;
}
.nr .bt{
    width: 255px;
    height: 35px;
    background-color:#cccccc;
    margin-bottom: 2px;
    line-height: 35px;
    color: #5E5B5B;
    text-align: center;
}
.nr .tu{
    width: 255px;
    height: 166px;
}
.nr .tu img{
    width: 100%;
    height: auto;
}
.nr .zuo1{
    width: 253px;
    height: 144px;
    float: right;
    padding-bottom: 20px;
    padding-right: 20px;
}
.nr .you{
    width: 270px;
    height: 336px;
    float: right;
    margin-top: 49px;
}
.nr .you2{
     height: 164px;     
}
.nr .you3{
    width: 270px;
    height: 35px;
    line-height: 35px;
    color: aliceblue;
    text-indent: 16px;
    background-color:#CA040A;
}
.nr .you4{
    background-color: #F6F6F6;
    margin-top: 2px;
    height: 114px;
}
.nr .you2 li{
    width: 255px;
    height: 36px;
    line-height: 39px;
    padding-left: 15px;
    border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #333333;
}
.nr .you .you1 .you2 .tu1{
    width: 88px;
    height: 98px;
    float: left;
    padding-left: 27px;
    padding-right: 20px;
    padding-top: 20px;
     background-color: #F6F6F6;
    text-align: center;
}
.db1{
    height:90px;
     background-color: #F2F2F2;
}
.db1 ul{
    width: 1100px;
    padding: auto;
    margin: auto;
}
.db1 ul li{
    float: left;
    height: 91px;
    line-height: 73px;
}
.footer{
    padding: auto;
    margin: auto;
}
.footer img{
    width: 100%;
}












